@font-face {
  font-family: "Flux";
  src: url(assets/Flux Regular.otf);
}

* {
  font-family: Flux;
  color: rgb(150, 150, 150);
}

html {
  background-color: rgb(28, 28, 28);
}

.header {
  text-decoration: underline;
  font-weight: 999;
}
