@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono);

@font-face {
  font-family: "Flux";
  src: url("/assets/Flux Regular.otf") format("opentype"),
       url("/assets/Flux Regular.ttf") format("truetype");
}

* {
  font-family: Flux, Open Sans, Roboto Mono, Courier New;
  color: rgb(227, 227, 227);
}

html {
  background-color: rgb(28, 28, 28);
}

body {
  /* background-color: rgb(10, 10, 10); */
  padding: 5px;
}

.header {
  text-decoration: underline;
  font-weight: 999;
}

#JScanvas {
  border:5px solid rgb(201, 201, 28);
}
